<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Uso de JSONP en Angular</h2>
        </div>
        <div class="col-md-12">
            <p>
                Uso de JSONP en Angular con la API de itunes
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <form class="form-inline">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="Enter search string" [formControl]="searchField">
                </div>
            </form>

            <div class="text-center">
                <p class="lead" *ngIf="loading">Loading...</p>
            </div>

            <ul class="list-group">
                <li class="list-group-item" *ngFor="let track of results | async">
                    <img src="{{track.thumbnail}}">
                    <a target="_blank" href="{{track.link}}">{{ track.name }}
            </a>
                </li>
            </ul>
        </div>
    </div>
</div>